*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.light  {
background-color: #ffffff;
color: #333;
}
body.dark  {
background-color: #000000f1;
color: #fff;
}
#theme-toggle{
    font-size: 20px;
    cursor: pointer;
}
.w-90{
    width: 90%;
}
nav{
    background-color: transparent;
}
footer{
    background-color: transparent !important;
}
nav .my_photo{
    width: 90px;
    border-radius: 50%;
}
nav ul li {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}

nav ul li a {
    color: black !important;
    margin: 0 10px;
}

nav ul li a::after{
    content: "";
    position: absolute;
    left: 12px;
    top: 37px;
    width: 0;
    height: 2px;
    background-color: rgba(155, 68, 155, 0.705);
    transition: 0.3s;
}

nav ul li a:hover::after{
    width:75%;
}

ul li:hover{
    transform: scale(1.1);
}
ul li:hover a{
    color: blueviolet !important;
}

main img{
    width: 300px;
}

main h2 {
    font-size: 35px;
    font-weight: bold;
}

.learn-more{
    color: rgba(59, 21, 59, 0.705) !important;
    border: 1px solid purple;
    transition: 0.3s;
}
.learn-more:hover{
    color: white !important;
    background-color: rgba(173, 2, 173, 0.575);
    transform: scale(1.05);
}

.contact-img img{
    width: 100%;
    object-fit: cover;
    padding: 0;
    border-radius: 20px;
    border: 2px solid #a084ca;
    box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.15),   /* ظل أسود خفيف */
    0 0 20px rgba(226, 114, 248, 0.678); /* اللون الموف سايح */
}

.contact-img{
    width: 300px;
    border-radius: 20px;
    margin: auto;
}


.footer i {
    color: rgb(199, 102, 199);
    text-decoration: none;
    font-size: 25px;
    margin: 8px 5px;
}

.footer i:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}

span{
    color:rgb(173, 6, 173) !important ;
}

footer p.light{
    color: #353535;
}


body.dark li a{
    color: white !important;
}

body.dark .learn-more{
    color: wheat !important;
    border: 2px solid #9746ac;
    transition: 0.3s;
}

body.dark .learn-more:hover{
    background-color: #c368da;
    transform: scale(1.1);
}

body.dark .post-content-entry a{
    color: white !important;
}
body.dark .section-title , span , .span{
    color: #c368da !important;
}
body.dark footer p {
    color: azure !important;
}
.img-box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #c368da; 
    margin: auto;
    box-shadow: 0 0 15px #7a7ad6;
}

.img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icons i {
    font-size: 30px;
    margin: 20px 10px;
    color: #9746ac;
    cursor: pointer;
    transition: 0.2s;
}
.icons i:hover{
    transform: scale(1.1) ;
    color:#9846aca9 ;
}

footer{
    background-color: #dbc4fd77 !important;
}

body.dark footer .span , .icons1 i {
    color: rgba(0, 0, 0, 0.849) !important;
}

body.dark main p {
    color: rgb(163, 163, 163) !important;
}

.topbtn{
    display: none;
    position: fixed;
    font-size: 30px;
    bottom: 30px;
    right: 30px; 
    z-index: 99;
    cursor: pointer;
    color: #f9b7ff !important;
    border: none;

    background-color: rgb(182, 83, 182); 
    border-radius: 50%;               
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.topbtn:hover{
    color: #f583ff86 !important;
    background-color: rgb(166, 53, 170);
    transform: scale(1.03);
}

body.dark .topbtn{
    color: #bf44dd;
    background-color: #330038;
}

.icons1 i{
    cursor: pointer !important;
}

.personal-sec{
    border: none;
    height: 350px !important;
    object-fit: cover;
}

.personal-cont{
    line-height: 40px;
    color: #353535 !important;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.cardA img , .cardB img {
    width: 100%;
    clip-path: none;  
    border-radius: 10px; 
}
@media( min-width : 768px)  {
            .cardA {
                overflow: visible;
            }
            .cardB{
                overflow: visible;
            }
            .cardA img {
                clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
                width: 100% !important;
            }
            .cardB img {
        clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
        width: 100% !important;
    }
}

body.dark h4.personal-cont{
    color: white !important;
}


.special-box{
    text-align: center;
    background: linear-gradient(135deg, #f3e5f5, #ffffff);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

body.dark .box ,
body.dark .special-box{
    background: rgba(39, 39, 39, 0.6) !important;
    color: white;
}


.projects .card:hover {
    transform: scale(1.05);
}

.card{
    border-radius: 15px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.card img {
    object-fit: cover;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
}




.post-content-entry h3{
    text-align: center;
}

 nav{
    background-color: #c7bbd6bb !important ;
    padding: 10px 0;
}


body.dark .card{
    background-color: #f8f8f84d;
}

body.dark .card p{
    color: black !important;
}

body.dark  span{
    color: rgb(70, 21, 116) !important;
    font-weight: bold
}

.contact-sec .icons i {
    font-size: 32px;
    margin: 0 15px;
}
body.dark  .icons i {
    color: rgba(31, 30, 30, 0.856) !important ;
}
.contact-sec .learn-more{
    width: 40%;
}

.contact-sec .text{
    color: rgb(187, 85, 187);
}

.contact-img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

body.dark nav ,
body.dark footer {
    background-color: #353535 !important;
}

body.dark  .icons i{
    color: #a303c4 !important;
}
nav{
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}